.skills svg g.icon {
  transition: transform .25s ease, filter .25s ease;
  transform-box: fill-box;
  transform-origin: center;
  pointer-events: bounding-box; /* ganze Box statt nur Linien */
  cursor: pointer;
}

.skills svg g.icon:hover {
  transform: translateY(-120px);
  filter: drop-shadow(0 18px 18px rgba(0,0,0,.25));

}

.skills svg .shadow {
  transform-box: fill-box;   /* Bounding Box des Elements nutzen */
  transform-origin: center;  /* Mittelpunkt dieser Box */
  clip-path: none;           /* Clip entfernen, damit Filter nicht abgeschnitten wird */
  opacity: 1;
  transition: transform .25s ease, filter .25s ease, opacity .25s ease; /* sanfte Übergänge */
}

.skills svg .shadow.is-hovered {
  transform: scale(1.05); /* leicht vergrößern */
  filter: blur(10px); /* Weichzeichnen */
  opacity: 0.6;
}