@import "tailwindcss";

:root {
  --primary: #C05800;
  --primary-text: #cd5d02;
  --primary-light: #FDFBD4;
  --primary-light-fine: #fdfbd4e7;
  --primary-background: #090808;
  --secondary: #00c08d;

  background-color: var(--primary-background);
}

@theme {
    --color-primary: var(--primary);
    --color-primary-text: var(--primary-text);
    --color-primary-light: var(--primary-light);
    --color-primary-light-fine: var(--primary-light-fine);
    --color-primary-dark: var(--primary-dark);
    --color-primary-background: var(--primary-background);
    --color-secondary: var(--secondary);
}